*{
    padding: 0;
    margin: 0;
    /* outline: 2px solid rgb(50, 231, 255); */
    font-family: Noto Sans JP;
    font-style: normal;
}

:root{
    /* Colors */
    --color: #FF3333;
    --color1: #FFFFFF;
    --color2: #CCCCCC;
    --color3: #333366;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* スクロールバーを非表示にする */
}

body {
    background-color: var(--color3);  
    /* display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%; */
    min-height: 100vh;
}

/* ヘッダー */
header {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 102, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
.header-section{
    width: 1450px; 
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
/* ロゴマーク */
.logo img{
    height: 100px;
    line-height: 100px;
}

/* ヘッダー内メインリンク */
.header-main-link{
    margin: 0 0 0 auto;
}
ul{
    display: flex;
    list-style: none;
}

/* メイン部 */
main{
    width: 100%;
    min-height: 130vh;
    max-height: 1200px;
    /* margin-top: 150px; */
    /* position: relative; */
    /* margin-bottom: 0; */
}



/* ↓ ここから編集 */
/* セレクト部 */
.select-section{
    width: 100%;
    height: auto;
    margin: 150px auto 0 auto;
}
.select-group{
    width: 1450px;
    height: 55px;
    margin: 0 auto;
    display: flex;
}
.select-item{
    height: 55px;
}

/* セレクトボックス */
.select-item select{
    width: 640px;
    text-align-last: center;
}
.select-movie1 {
    overflow: hidden;
    width: 640px;
    text-align: center;
}
.select-movie1 select {
    width: 100%;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
}
.select-movie1 select::-ms-expand {
    display: none;
}
.select-movie1.select-movie2 {
    position: relative;
    background-color: var(--color1);
}
.select-movie1.select-movie2::before {
    position: absolute;
    top: 25px;
    right: 22px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--color3);
    pointer-events: none;
}
.select-movie1.select-movie2:after {
    position: absolute;
    top: 0;
    right: 3.5em;
    bottom: 0;
    /* width: 1px; */
    content: '';
    border-left: 4px solid var(--color3);
}
.select-movie1.select-movie2 select {
    font-size: 20px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    color: var(--color3);
}

/* 再生・一時停止ボタン */
.movie-button{
    margin-left: 170px;
    display: flex
}
.button-group{
    display: flex;
}
button{
    height: 55px;
    line-height: 55px;
    align-items: center;
    display: flex;
    padding: 0 20px;
    margin-right: 6px;
    background-color: var(--color);
    color: var(--color1);
    font-size: 20px;
    font-weight: 700;
}
.button-item img {
    height: 25px;
    margin-left: 10px;
}

/* 動画表示・レッスン部 */
.lesson-group{
    width: 1450px;
    display: flex;
    margin: 15px auto 0 auto;
}
.lesson-item{
    /* margin: auto; */
}
.left{
    margin-left: 0;
    position: relative;
}
.right{
    text-align: right;
    position: relative;
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}
.lesson-group {
    display: flex;
    justify-content: space-between; /* 左右に配置 */
}

/* スコアボード */
.score-section{
    width: 100%;
}
.score-board{
    width: 1450px;
    margin: 0 auto;
    color: var(--color1);
}

/* フッター */
footer {
    width: 100%;
    height: 50px;
    text-align: center;
    color: var(--color3);
    background-color: var(--color2);
    bottom: 0;
    top: auto;
    position: absolute;
    margin-bottom: 0;
}
.footer-item{
    width: 100%;
    line-height: 50px;
}

/* ポップアップメッセージのスタイル */
.popup-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1001;
    text-align: center;
}


